.big-banner{
    background-image: url('../images/bg1.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: auto;
    height: auto;
}
.container-box{
    margin-left: -4.2rem;
    margin-top: 0.4rem;
    max-width: 44rem;
    margin-right: 5rem;
}
.container-box{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #fff;
    padding: 1.4rem;
}
.main-container{
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 5%; 
    margin-bottom: 5%;
}
.card-deck{
    margin-right: 2px;
    margin-left: 2px;
}
.card-deck .card{
    margin-bottom: 20px;
}
.container-2{
    margin: 3% 7% 3% 7%;
}
.icon-clr{
    color: darkcyan;
}
.figure-img {
    margin-bottom: 2.5rem;
    line-height: 1;
}
